- content_for(:breadcrumbs) do
  %h1 Artistas
  %p 
    You are here: 
    = link_to "Home", root_path 
    > Artistas

- @artists.in_groups_of(4, false) do |artists|    
  .artists.clearfix
    - artists.each do |artist|
      .artist
        %img{:src => "http://placehold.it/200x200"}
        .info
          %h4= link_to artist.name, artist
          %p= artist.short_bio
          =link_to "[...]", artist    



