- content_for(:breadcrumbs) do
  %h1 Aviso Legal
  %p 
    You are here: 
    = link_to "Home", root_path 
    > Aviso Legal	 

%h1 Aviso Legal

%p.margin Conforme la Ley 34/2002, de Servicios de la Sociedad de la Información, y de comercio electrónico, le informamos que el presente documento establece las Condiciones Generales de la web de Internet de Ink and Movement

%p.black Datos sociales y registrales
%p La familia nunca duerme SL 
%p CIF: B86312873
%p Calle san Blas 4. Local Comercial
%p.margin 28014. Madrid

%p.margin La utilización de los contenidos de la web de Ink and Movement por parte del usuario supone su adhesión y aceptación expresa a todas las Condiciones Generales de Uso en la versión publicada en el presente sitio web.

%p.black Condiciones de utilización de la web
%p.margin Se entenderá por usuario a todo aquel que descargue o visualice alguna de las páginas de esta web. Como regla general, el usuario se compromete a utilizar los contenidos de la web conforme a lo establecido en la ley y en las presentes Condiciones Generales de Uso. Del mismo modo, se compromete a hacer un uso adecuado de los contenidos de la web y a no emplearlos para realizar actividades ilícitas o constitutivas de delito y/o que infrinjan la regulación sobre propiedad intelectual e industrial, o cualesquiera otras normas del ordenamiento jurídico aplicable.

%p.black Política de protección de datos
%p.margin Los datos recogidos a través del correo electrónico, formulario de contacto o los provistos para suscribirse al nuestra newsletter serán introducidos en un fichero automatizado propiedad de Ink and Mvement y serán utilizados para responder a las consultas planteadas, obtener datos estadísticos de las mismas o proporcionar información sobre la empresa y sus productos o sobre temas afines relacionados con las actividades de la empresa. Estos datos no serán cedidos a otras empresas.

%p.margin De conformidad con lo dispuesto por la Ley Orgánica 15/1999 de Protección de Datos de Carácter Personal, usted tiene derecho a acceder a estos datos, rectificarlos o cancelarlos dirigiéndose por escrito a la dirección social de la empresa.

%p.black Propiedad Intelectual e Industrial
%p.margin Todos los contenidos, elementos e información a los que el usuario pueda acceder a través de la web están sujetos a derechos de propiedad industrial e intelectual, a patentes y copyright de Ink and Movement o de sus licenciantes. El acceso a dichos contenidos o elementos a través de los servicios de la web o cualquier tercero no otorga al cliente el derecho de alteración, modificación, explotación, reproducción, distribución o comunicación pública o cualquier otro derecho que corresponda al titular.

%p.black Modificaciones
%p.margin Ink and Movement se reserva el derecho a modificar, suprimir e incluir, unilateralmente y sin previo aviso, nuevos contenidos y/o servicios, así como la forma en que éstos aparezcan presentados y localizados. De igual forma, el usuario acepta que Ink and MOvement se reserva el derecho de modificar y actualizar periódicamente las presentes condiciones de uso.

%p.black Exclusión de garantías
%p.margin Ink and Movovement no garantiza la disponibilidad, accesibilidad y continuidad del funcionamiento de la web.

%p.black Ley aplicable y jurisdicción
%p.margin.border_legal Estas Condiciones Generales se rigen por la ley española. Ink and Movement y el usuario, con renuncia expresa a cualquier otro fuero, se someten al de los Juzgados y Tribunales de Madrid (España) para cualquier controversia que pudiera derivarse de la prestación de los servicios objeto de estas Condiciones Generales.