- content_for(:breadcrumbs) do
  %h1 Manifesto
  %p 
    You are here: 
    = link_to "Home", root_path 
    > Manifesto

#logo 
  =image_tag("manifiesto.jpg") 


%p.margin 
  Durante los últimos 20 años las calles de la ciudad, cualquier ciudad, han sido el lienzo de cientos de manifestaciones artísticas. En un lugar donde nadie conoce a nadie, una generación de artistas ha utilizado estas calles para hacerse un nombre, un estilo, una personalidad.

%p.mrgin Actualmente, la influencia de estas manifestaciones se ve reflejada en muchas de las corrientes artísticas contemporáneas, sin importar las fronteras, retroalimentándose país tras país, corriente tras corriente. Tinta en movimiento, es lo que te hacer ser tú…

%p.margin 
  El espíritu del 
  %span proyecto Ink and Movement (IAM) 
  es poner en colaboración el talento de los artistas urbanos españoles más relevantes internacionalmente, para la creación de un proyecto creativo conjunto presente en todo el mundo gracias a exposiciones y montajes creados exclusivamente para este proyecto.

%p.margin 
  ¿Por qué Ink and Movement? 
  %span Tinta y movimiento 
  son los dos materiales básicos de cualquier obra, son los materiales básicos de una obra conjunta alrededor del globo. El proyecto 
  %span Ink and Movement 
  parte por tanto de los dos fundamentos que caracterizan el arte urbano y que lo diferencian de las demás manifestaciones artísticas contemporáneas: el gesto de un trazo y la reafirmación del Yo.

%p.margin 
  El primer pilar del proyecto es la premisa en la que se basa su nombre: 
  %span Tinta y Movimiento. 
  La 
  %span tinta 
  simboliza la herramienta de cualquier actividad plástica, es el combustible creativo. 
  %span El movimiento 
  es la acción, el gesto que hace personal un trazo. Es el hecho por el cual el estilo se fragua en cada artista. Como en toda premisa, de las dos primeras proposiciones surge una tercera a modo de conclusión. Nuestra conclusión es la obra de arte.

%blockquote  
  %p.margin.black “El espíritu del proyecto IAM es poner en colaboración el talento de los artistas urbanos más relevantes internacionalmente, para la creación de un proyecto creativo conjunto…”

%p.margin 
  El segundo pilar es a su vez una interpretación del propio nombre de manera simbólica que recoge el otro fundamento inherente al arte urbano: 
  %span La reafirmación del Yo. 
  Desde sus comienzos en el Graffiti neoyorkino, el individuo ha utilizado su nombre como herramienta creativa, como un arma con el que defender su identidad individual frente a la sociedad pluralizada.

%p.margin 
  Por lo tanto, 
  %span Ink And Movement 
  hace acopio de los principales fundamentos del arte urbano para generar un proyecto artístico que suponga una inmersión conceptual por parte de los artistas que lo forman. El resultado es un trabajo de investigación en los conceptos que han determinado la trayectoria artística de cada uno y que, hasta este momento, nunca se habían planteado.

%p.margin.black – The Ink and Movement Team      