
/*Main Style*/
.clearfix:after
  content: "."
  display: block
  clear: both
  visibility: hidden
  line-height: 0
  height: 0

.container
  width: 960px
  margin: 0 auto  

.fl
  float: left
  
.fr
  float: right 
  
a
  text-decoration: none


/*Font*/

a
  font-size: 12px 
b
  font-size: 14px   
p
  margin-bottom: 8px
h1
  font-size: 24px
h2
  font-size: 22px
h3
  font-size: 20px
h4
  font-size: 18px
h5
  font-size: 13px
h6
  font-size: 12px  

/* Color */



body
  background-color: #fff
  font-family: 'Open Sans', sans-serif
  font-size: 13px
  
  
#header, #slider, #footer
  width: 100% 
.header, .slider, .footer
  position: relative  
 
#logo
  margin-bottom: 20px
  display: block

#search 
  position: absolute 
  top: 40px
  right: 0
  #find
    position: absolute
    width: 100px
    right: 27px
    height: 28px
    line-height: 28px
    padding-left: 5px
    border: 1px solid rgba(225,225,225,1)
    background-color: rgba(248,248,248,1)
    margin: 0
    -webkit-transition: width 2s
    -moz-transition: width 2s
    -o-transition: width 2s
    transition: width 2s
  #find:hover 
    width: 200px 
  #send 
    width: 28px
    height: 32px
    border: 1px solid rgba(225,225,225,1)
    background: url("icon-search-button.png") no-repeat 0 0 
    color: transparent

  
#menu
  ul
    list-style: none  
    width: 960px
    margin-bottom: 10px
    li
      float: left
      margin-right: 5px 
      font-weight: bold 
      a
        color: rgb(51,51,51)
      a:hover
        color: rgb(128,128,128)  
      a:after
        content: "|"
        color: rgb(128,128,128)
        margin: 0 5px

      
    
    
#slider
  background-color: grey
  height: 1235px

  
  
#footer
  background-color: black
  color: rgba(128,128,128,0.6)
  padding: 40px 0
  p
    color: rgb(119,119,119)
  h5
    margin-bottom: 10px
    color: rgb(119,119,119)
  b
    color: white
    

#map, #iam, #timetable, #contact
  width: 23%  
  margin: 0 1%


#address, #time, #expo, #event
  margin-bottom: 20px
    

#small-footer
  background-color: rgb(51,51,51)
  width: 100%
  .small-footer
    height: 45px
    line-height: 45px
    text-align: center
    p
      color: rgb(232,238,208)

    
    
 
  
