.clearfix:after
  content: "."
  display: block
  clear: both
  visibility: hidden
  line-height: 0
  height: 0


body
  background-color: #fff
  width: 960px
  margin: 10px auto
  border: 1px solid red
 
 
#logo
  padding-left: 35px  
  
#menu
  ul
    list-style: none  
    width: 960px
    li
      float: left
      margin-right: 5px
    
    
#slider
  background-color: blue
  height: 60px
  
  
#footer
  background-color: black
  height: 70px
    