/*Main Style */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.fl {
  float: left; }

.fr {
  float: right; }

a {
  text-decoration: none; }

/*Font */
a {
  font-size: 12px; }

p {
  font-size: 12px; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

body {
  background-color: white;
  width: 960px;
  margin: 10px auto;
  border: 1px solid red; }

#logo {
  margin-bottom: 20px; }

#menu ul {
  list-style: none;
  width: 960px; }
  #menu ul li {
    float: left;
    margin-right: 5px; }
    #menu ul li a {
      color: rgba(128, 128, 128, 0.6); }
    #menu ul li:hover {
      content: "|"; }

#slider {
  background-color: grey;
  height: 1235px; }

#footer {
  background-color: black;
  color: rgba(128, 128, 128, 0.6);
  padding: 40px 0; }
  #footer b {
    color: white; }
