- content_for(:breadcrumbs) do
  %h1 Popu-ps
  %p 
    You are here: 
    = link_to "Home", root_path 
    > Popu-ps

- @popups.in_groups_of(4, false) do |popups|    
  .popup.clearfix
    - popups.each do |popup|
      .popup
        - if popup.photo
          = image_tag popup.photo.image.url(:thumb300), width: 200 if popup.photo
        - else
          %img{:src => "http://placehold.it/200x200"}
          
        .info
          %h4= link_to popup.name, popup
          %p= popup.short_summary
          =link_to "[...]", popup    



