- content_for(:breadcrumbs) do
  %h1 Expositions
  %p 
    You are here: 
    = link_to "Home", root_path 
    > Expositions

- @expositions.in_groups_of(4, false) do |expositions|    
  .expositions.clearfix
    - expositions.each do |exposition|
      .exposition
        - if exposition.photo
          = image_tag exposition.photo.image.url(:thumb300), width: 200 if exposition.photo
        - else
          %img{:src => "http://placehold.it/200x200"}
          
        .info
          %h4= link_to exposition.name, exposition
          %p= exposition.short_summary 
          =link_to "[...]", exposition    



