!!!
%html
  %head
    %title Iam
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    #header
      #logo
        = image_tag "logo.png"
        
      #menu
        %ul.clearfix
          %li 
            %a(href='#') EL ESPACIO 
          %li IAM 
          %li ARTISTAS 
          %li EXPOSICIONES 
          %li ACTIVIDADES 
          %li BLOG 
          %li SHOP
          %li CONTACTO
          
      #slider    
            
      #footer
        #map
        #iam
          %p 
            %b IAM 
            GALLERY MADRID
          %p C/San Blas 4.  
        #timetable
        #conatct
        
        
      
      
            
    