<!DOCTYPE html>
<html>
  <head>
    <title>Iam</title>
    <%= stylesheet_link_tag "application", "http://fonts.googleapis.com/css?family=Open+Sans:400,700" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id='header'>
      <div class='header container'>
        <div id='logo'>
          <%= image_tag "logo.png" %>
        </div>
        <div class='fr' id='search'>
          <form action='#'>
            <input id='find' name='find' placeholder='search site' type='text'>
            <input id='send' name='send' type='submit'>
          </form>
        </div>
        <div id='menu'>
          <ul class='clearfix'>
            <li>
              <a href='#'>EL ESPACIO</a>
            </li>
            <li>
              <a href='#'>I AM</a>
            </li>
            <li>
              <a href='#'>ARTISTAS</a>
            </li>
            <li>
              <a href='#'>EXPOSICIONES</a>
            </li>
            <li>
              <a href='#'>ACTIVIDADES</a>
            </li>
            <li>
              <a href='#'>BLOG</a>
            </li>
            <li>
              <a href='#'>SHOP</a>
            </li>
            <li>
              <a href='#'>CONTACTO</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id='slider'>
      <div class='slider container'></div>
    </div>
    <div id='footer'>
      <div class='footer container clearfix'>
        <div class='fl' id='map'>
          <%=image_tag "map.png" %>
        </div>
        <div class='fl' id='iam'>
          <div id='address'>
            <h5>
              <b>IAM</b>
              GALLERY MADRID
            </h5>
            <p>
              <b>C/San Blas 4. 28014. Madrid</b>
            </p>
          </div>
          <div class='fl' id='additional-info'>
            <p>
              <b>Metro</b>
              Atocha y Antón Martín
            </p>
            <p>
              <b>Bus</b>
              6,26,32,L1,N7
            </p>
            <p>
              <b>Parking</b>
            </p>
            <p>C/ Atocha 70</p>
            <p>C/ Sanchez Bustillo 4</p>
            <p>C/ Santa Maria 4</p>
          </div>
        </div>
        <div class='fl' id='timetable'>
          <div id='time'>
            <h5>
              <b>HORARIO</b>
              DE
              <b>APERTURA</b>
            </h5>
            <p>
              <b>De Martes a Viernes</b>
            </p>
            <p>de 10:00h a 14:00h</p>
            <p>de 16:00h a 20:00h</p>
            <p>
              <b>Sábados</b>
            </p>
            <p>de 11:00h a 14:00h</p>
          </div>
          <div id='appointment'>
            <p>
              <b>Previa Cita</b>
            </p>
            <p>Llamando al 681 063 155</p>
          </div>
        </div>
        <div class='fl' id='contact'>
          <h5>CONTACTO</h5>
          <div id='expo'>
            <p>
              <b>Exposiciones y Galeria</b>
            </p>
            <p>Pilar Lleó</p>
            <p>iam@iamgallerymadrid.com</p>
            <p>91 369 48 25</p>
            <p>681 386 155</p>
          </div>
          <div id='event'>
            <p>
              <b>Eventos</b>
            </p>
            <p>Irene Hernández</p>
            <p>eventos@iamgallerymadrid.com</p>
            <p>646 386 693</p>
          </div>
          <div id='communication'>
            <p>
              <b>Comunicación</b>
            </p>
            <p>Zigor Cavero</p>
            <p>cominucaion@iamgallerymadrid.com</p>
          </div>
        </div>
      </div>
    </div>
    <div id='small-footer'>
      <div class='small-footer container'>
        <p>
          © Copyright - iam Gallery Madrid - Design by TASTE
        </p>
      </div>
    </div>
  </body>
</html>
