!!!
%html
  %head
    %title Iam
    = stylesheet_link_tag "application", "http://fonts.googleapis.com/css?family=Open+Sans:400,700"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    #header
      .header.container
        #logo
          = image_tag "logo.png"


        #search{:class => "fr"}
          %form{:action => "#"}
            %input{:type => "text", :id => "find", :name => "find", :placeholder => "search site"}
            %input{:type => "submit", :id => "send", :name =>"send"}      
          
        #menu
          %ul.clearfix
            %li
              %a(href='#') EL ESPACIO  
              
            %li 
              %a(href='#') I AM 
              
            %li
              %a(href='#') ARTISTAS 
              
            %li 
              %a(href='#') EXPOSICIONES 
              
            %li
              %a(href='#') ACTIVIDADES 
              
            %li 
              %a(href='#') BLOG
              
            %li 
              %a(href='#') SHOP
              
            %li 
              %a(href='#') CONTACTO

        
            
        
     
        
    #slider
      .slider.container


    #footer      
      .footer.container.clearfix
        #map.fl
          <%=image_tag "map.png" %>
        #iam.fl
          #address
            %h5 
              %b IAM 
              GALLERY MADRID
            %p 
              %b C/San Blas 4. 28014. Madrid
          #additional-info.fl
            %p 
              %b Metro
              Atocha y Antón Martín
            %p
              %b Bus
              6,26,32,L1,N7
            %p
              %b Parking
            %p C/ Atocha 70
            %p C/ Sanchez Bustillo 4
            %p C/ Santa Maria 4 
        #timetable.fl
          #time
            %h5
              %b HORARIO
              DE  
              %b APERTURA
            %p
              %b De Martes a Viernes
            %p de 10:00h a 14:00h
            %p de 16:00h a 20:00h
            %p
              %b Sábados
            %p de 11:00h a 14:00h
          #appointment
            %p
              %b Previa Cita
            %p Llamando al 681 063 155    
                
        #contact.fl
          %h5 CONTACTO
          #expo
            %p
              %b Exposiciones y Galeria
            %p Pilar Lleó
            %p iam@iamgallerymadrid.com
            %p 91 369 48 25
            %p  681 386 155
          #event
            %p
              %b Eventos
            %p Irene Hernández
            %p eventos@iamgallerymadrid.com
            %p 646 386 693     
          #communication
            %p
              %b Comunicación
            %p Zigor Cavero  
            %p cominucaion@iamgallerymadrid.com

    #small-footer
      .small-footer.container
        %p 
          © Copyright - iam Gallery Madrid - Design by TASTE        
      
            
    